[Unit]
Description = Gunicorn instance to serve Barry
After=network.target

[Service]
User=bfg
Group=bfg
PIDFile=/var/tmp/bgate.pid
WorkingDirectory=/home/bfg/bgate
ExecStart=/bin/bash /home/bfg/bgate/bgate.sh

Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target

